.container {
  display: flex;
  position: fixed;
  bottom: 240px;
  right: 48px;
  height: 120px;
  width: 120px;
}

.button {
  display: flex;
  flex: 1;
  padding: 0px;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.button::after {
  border: none;
}

.image {
  height: 60px;
  width: 60px;
}
