.launcher {
  padding: 0 48px 0 48px;
  height: 100vh;
  justify-content: space-between;
}

.logo {
  height: 240px;
  width: 240px;
  align-self: center;
}

.group {
  display: flex;
  margin-top: 160px;
  flex-direction: column;
}
