.empty-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.empty-image {
  width: 72px;
  height: 72px;
}

.empty-text {
  font-size: 26px;
  color: rgba($color: #000000, $alpha: 0.4);
  margin-top: 12px;
}