.result {
  padding: 24px 48px 12px 48px;
}

.header {
  margin: 0 0 24px 0;
}

.query-title {
  font-size: 28px;
  color: rgba($color: #000000, $alpha: 0.6);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 36px;
}

.footer-text {
  font-size: 24px;
  color: rgba($color: #000000, $alpha: 0.4);
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
}

.empty-image {
  width: 60px;
  height: 60px;
}

.empty-text {
  font-size: 24px;
  color: rgba($color: #000000, $alpha: 0.4);
  margin-top: 12px;
}

.operation-group {
  margin-top: 12px;
  margin-bottom: 36px;
}

.floater-group {
  display: flex;
  justify-content: center;
  align-items: center;
}
